<html>

<!-- Most of the structure, images and styles on this page are retrieved from an old cache of the official Runescape website. This is not my work, I just it used as scaffolding to recreate the page. The visual design is not my work, but the functionality is. I have included the images and styles in the repo as they are no longer available on the official website. The visual assets that are retrieved from the cache are separated in the alog_assets directory. -->

<head>
  <link rel="SHORTCUT ICON" href="alog_assets/favicon.ico">
  <title>Adventurer's log</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body class="adventurerslog">
  <%- include('modules/menubar') %>
  <%- include('modules/video') %>
  <div class="container">
    <section id="content">
      <div id="plog_other" class="section">
        <div id="logHeader">
          <div id="searchPanel">
            <%- include('modules/search') %>       
          </div>
          <div id="logTitle">Adventurer's Log</div>
        </div>
        <div class="home-wrap">
          <div class="home-view"> 
            <div class="card left">
              <p>To start keeping your own Adventurer's Log</p>
              <a class="generic-button" href="/login" id="openModalBtn">Login</a>
            </div>
            <div class="card right">
              <p>To view any Adventurer's Log</p>
              <%- include('modules/search') %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('modules/footer') %>
  </div>
</body>