<html>

<!-- Most of the structure, images and styles on this page are retrieved from an old cache of the official Runescape website. This is not my work, I just it used as scaffolding to recreate the page. The visual design is not my work, but the functionality is. I have included the images and styles in the repo as they are no longer available on the official website. The visual assets that are retrieved from the cache are separated in the alog_assets directory. -->

<head>
  <link rel="SHORTCUT ICON" href="alog_assets/favicon.ico">
  <title>Adventurer's log</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <%- include('modules/menubar') %>
    <%- include('modules/video') %>
    <div class="container">
      <section id="content">
        <div class="basicpanel"> 
            <h1>User Settings</h1>
            <div class="tab">
                <button class="tablinks active" onclick="openTab(event, 'Webhooks')">Webhook</button>
                <button class="tablinks" onclick="openTab(event, 'Characters')">Your Characters</button>
                <button class="tablinks" onclick="openTab(event, 'Overview')">Account</button>
              </div>
              <div id="Webhooks" class="tabcontent" style="display: block;">
                <h2>Your Webhook</h2>
                <p>Use the button below to generate/copy your webhook url that you can use to log your progress on your own adventurer's log!</p>
                <input type="text" id="textField" placeholder="Your generated webhook will appear here" value="<%= userwebhook %>" readonly>
                <button id="generateBtn">Generate</button>
                <button id="copyBtn" class="hidden"><span id="tooltip">Copied!</span>Copy</button>
                <p>Locate your dink plugin inside HDOS and add the webhook url to your Dink webhook URLs to start logging your achievements, make sure to toggle all the relevant Dinks that you wish to track!</p>
                <img style="max-width: 100%;" src="img/hdos_tutorial.gif"/>
              </div>
              
              <div id="Characters" class="tabcontent">
                <h2>Your Characters</h2>
                <p>The following is a list of runescape characters associated with this account.</p>
                <h3>Characters:</h3>
                <ul>
                  <% characters.forEach((character) => { %>
                    <li><%= character %></li>
                  <% }) %>
                </ul>
              </div>

              <div id="Overview" class="tabcontent">
                <h2>Account</h2>
                <p>Logged in as:</p>
                <div id="userPanel">
                    <div class="avatar" style="position: relative; width: 42px; height: 42px;">
                        <img width="35" height="35" style="border-radius: 100%;" src="https://cdn.discordapp.com/avatars/<%= userData.id %>/<%= userData.avatar %>.png">
                        <img width="42" height="42" style="position: absolute; left: 3px; top: -5px;" src="https://cdn.discordapp.com/avatar-decoration-presets/<%= userData.avatar_decoration_data.asset %>.png">
                    </div>
                    <p><%= userData.global_name %></p>
                </div>
                <button id="logoutButton" class="button">Logout</button>
              </div>
        </div>
      </section>
      <%- include('modules/footer') %>
    </div>

    <script src="/js/client/usersettings.js"></script>
  </body>
  